/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nabla&family=Silkscreen&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float>');
*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*background color of body*/
body{
    background: rgb(112, 81, 112);
}

/*  Placement of begin button, quiz rules box, quiz timer and final score box*/
.begin_btn,
.quiz_rules_box,
.quiz_box,
.final_score_box{ 
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 4px 8px 0 rgb(184, 119, 184),
                0px 8px 28px 0 rgb(184, 119, 184);
}

/* Style for Begin Button  */
.begin_btn button{
    font-size: 50px;
    font-weight: 600px;
    color:purple;
    background:gray;
    padding: 35px 35px;
    border-radius:15px;
    border: none;
    cursor:pointer;
    outline: none;
   
}

/*Style for Quiz Rules Box*/
.quiz_rules_box{
    width: 650px;
    /*height: 400px;*/
    background:rgb(108, 113, 116);
    border-radius:15px;
    display:none;
    opacity:0;
    pointer-events:none;
    transform:translate(-50%, 50%) (scale 1); 
}

/*Style for Quiz Rules Box and Quiz Rules Title*/
.quiz_rules_box .quiz_rules_title{
    font-size: 43px;
    font-weight: 600;
    height: 100px;
    width: 100%;
    border-bottom: 5px solid rgb(176, 125, 200);
    display: flex;
    align-items: center;
    padding: 0 35px;
}

/* Padding for Quiz Rules Box and Quiz Rules List*/
.quiz_rules_box .quiz_rules_list{
    padding: 25px 45px;
}

/*Layout and Font Size for Quiz Rules Box and Quiz Rules List*/
.quiz_rules_box .quiz_rules_list .quizrules{
    margin: 15px 0;
    font-size: 18px;
}

/*bolded text in quiz rules box*/
.quiz_rules_box .quiz_rules_list .quizrules span{
    font-weight: 600;
    color:rgb(102, 16, 102);
}

/* style for Leave Quiz and Continue Quiz Buttons */
.quiz_rules_box .buttons{
    height:68px;
    display: flex;
    align-items: center; 
    justify-content:flex-end;
    padding: 0 40px;
    border-top: 5px solid rgb(176, 125, 200);
}

/* style for Leave Quiz and Continue Quiz Buttons Button */
.quiz_rules_box  .buttons button{
    font-size:16px;
    font-weight:500;
    margin: 0 10px;
    height: 40px;
    width: 450px;
    color: rgb(194, 162, 194);
    background: rgb(154, 86, 154);
    border:1px solid rgb(172, 91, 172);
    border-radius: 5px;
    cursor:pointer;
    /*transition: all 0.10s ease;*/
}

/* Font Color, Border Color, and Background for Restart Button */
.buttons button.restart{
    color:rgb(145, 77, 145);
    background-color:rgb(111, 73, 111);
}

/* Restart Buttons Button Hover*/
.buttons button.restart:hover{
    background-color:rgb(144, 113, 144);
}

/* Font Color, Border Color, and Background for Leave Button */
.buttons button.leave{
    color: rgb(176, 72, 176); 
    background-color:rgb(56, 18, 56);
}

/* Leave Buttons Button Hover*/
.buttons button.leave:hover{
    background-color: rgb(210, 110, 210); 
}

/*Quiz Box Style*/
.quiz_box{
    background-color:gray;
    width: 550px;
    border-radius: 5px;
    display:none;
    opacity:0;
    pointer-events:none;
    transform:translate(-50%, 50%) (scale 1);
}

/*Quiz Box Header Style*/
.quiz_box header{
    background-color:gray;
    height: 70px;
    padding: 0 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgb(199, 151, 199);
    position: relative;
    z-index:99;
}

/*Quiz Box Header and Title of Quiz font*/
.quiz_box header .titleofquiz{
    font-size:30px;
    font-weight:750;
}

/*Quiz Timer Header Timer Style*/
.quiz_box header .timer{
    
    width: 150px;
    height: 50px;
    background-color:rgb(145, 71, 145);
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 1px solid purple;
    border-radius:10px;
    padding: 0 8px; 
}

/*Quiz Box Header Timer Ticktock Text font*/
.quiz_box header .timer .ticktock_text{
    font-weight: 500;
    font-size: 18px;
    user-select:none;
}

/*Quiz Box Header Timer Ticktock Seconds Style*/
.quiz_box header .timer .ticktock_seconds{
    height:30px;
    width:70px;
    font-size: 20px;
    font-weight:650;
    background:rgb(165, 104, 165);
    color:purple;
    line-height: 30px;
    text-align:center;
    border:1px solid purple;
    border-radius:7px;
    user-select:none;
}

/*Questions background color and padding*/
.quiz_box section{
    padding: 25px 30px 20px 30px;
    background: rgb(72, 55, 72);
}

/*Font Size and Font Weight of Quiz Questions*/
.quiz_box section .questions_text{
    font-size:25px;
    font-weight:700;
}

/*Quiz Box Section Choices List style*/
.quiz_box section .choices_list{
    padding: 25px 10px;
    display:block;
}

/*Choice List Choices Style*/
section .choices_list .choices{
    font-size:20px;
    background-color: rgb(135, 96, 135);
    border:1px solid rgb(51, 22, 51);
    border-radius: 5px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px 20px;
    cursor:pointer;
    transition: all 0.10s ease;
}
/*Choices List Choices Hover colors*/
section .choices_list .choices:hover{
    color:rgb(35, 23, 35);
    background: rgb(193, 151, 193);
    border-color: rgb(24, 17, 24);
}
    
/*Choices List Choices Last Child*/
.choices_list .choices:last-child{
    margin-bottom:0px;
}
/*Choices List Choices Emoji Style*/
.choices_list .choices .emoji{
    font-size: 20px;
    height:50px; 
    width: 50px;
    text-align: center;
    line-height: 30px;
    border:5px solid transparent;
    border-radius: 50%;
    pointer-events: none;
}

/*Choices List Choices Emjoi Grin Stars Colors*/
.choices_list .choices .emoji.grinstars{
    border-color:rgb(73, 111, 73);
    color: rgb(111, 193, 111);
    background-color: rgb(84, 95, 84);
}

/*Choices List Choices Emjoi Sad Tear Colors*/
.choices_list .choices .emoji.sadtear{
    border-color: rgb(106, 12, 12);
    color: rgb(162, 57, 57); 
    background-color: rgb(172, 87, 87);
}

/*Quiz Box Footer Style*/
.quiz_box footer{
    width: 100%;
    height: 60px;
    padding: 0 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

/*Quiz Box Footer Total Quesions Span Style*/
.quiz_box footer .total_questions span{
    display:flex;
    user-select: none;
}

/*Footer Total Questions Span p Style*/
footer .total_questions span p{
    font-weight: 800;
    padding: 0 5px;
}

/*Total Questoins Span P First Child Style*/
.total_questions span p:first-child{
    padding-left: 0px;
}

/*Footer Next Button Style*/
footer .next_btn{
    font-size: 18px;
    font-weight: 500;
    background: rgb(141, 74, 141);
    color: rgb(77, 19, 77);
    border:none;
    height: 50px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid rgb(205, 124, 205);
    outline: none;
    cursor:pointer;
    transition: all 0.10s ease;
}

/*Footer Next Button Hover Color*/
footer .next_btn:hover{
    background:rgb(85, 55, 85);
}

/*Final Score Box Style*/
.final_score_box{
    background: rgb(149, 111, 149);
    display:flex;
    align-items:center;
    justify-content:space-between;
    text-align: center;
    flex-direction:column;
    width: 530px;
    padding: 35px 45px;
    border-radius:25px;
    opacity:0;
    pointer-events:none;
    transform:translate(-50%, 50%) (scale 1);
}

/*Final Score Box Emoji Style*/
.final_score_box .emoji{
    font-size:200px;
    color:rgb(49, 9, 49);
    margin-bottom:20px;
}

/*Final Score Box Conclusion Text*/
.final_score_box .conclusion_text{
    font-size: 25px;
    font-weight: 750;
}
/*Final Score Box Final Score Text Span Style*/
.final_score_box .final_score_text span{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    margin: 15px 0;
}
   
/*Final Score Text Span P Style*/
.final_score_text span p{
    font-weight: 750;
    padding: 0 4px;
}

/*Final Score Buttons Style*/
.final_score_box buttons{
    display: flex;
    margin: 20px 0;
}

.final_score_box .buttons button{
    font-size:20px;
    font-weight:500;
    border-radius: 2px solid rgb(119, 72, 119);
    margin: 0 20px;
    padding: 10px 25px;
    height: 48px;
    border: none;
    outline: none;
    border: 2px solid rgb(198, 150, 198);
    cursor: pointer;
    transition: all 0.10s ease;
}







