/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nabla&family=Silkscreen&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float>');
*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*background color of body*/
body{
    background: rgb(112, 81, 112);
}

/*  Placement of begin button, quiz rules box, quiz timer and final score box*/
.begin_btn,
.quiz_rules_box{
/*.quiz_timer,
.final_score_box{ */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /*box-shadow: 0px 4px 8px 0 rgb(184, 119, 184);*/
}

/* Style for Begin Button  */
.begin_btn button{
    font-size: 50px;
    font-weight: 600px;
    color:purple;
    background:gray;
    padding: 35px 35px;
    border-radius:15px;
    border: none;
    cursor:pointer;
    outline: none;
   
}

/*Style for Quiz Rules Box*/
.quiz_rules_box{
    width: 650px;
    /*height: 400px;*/
    background:rgb(108, 113, 116);
    border-radius:15px;
    display:none;
    /* opacity:0;
    pointer-events:none;
    transform:translate(-50%, 50%) (scale 1); */
}

/*Style for Quiz Rules Box and Quiz Rules Title*/
.quiz_rules_box .quiz_rules_title{
    font-size: 43px;
    font-weight: 600;
    height: 100px;
    width: 100%;
    border-bottom: 5px solid rgb(176, 125, 200);
    display: flex;
    align-items: center;
    padding: 0 35px;
}

/* Padding for Quiz Rules Box and Quiz Rules List*/
.quiz_rules_box .quiz_rules_list{
    padding: 25px 45px;
}

/*Layout and Font Size for Quiz Rules Box and Quiz Rules List*/
.quiz_rules_box .quiz_rules_list .quizrules{
    margin: 15px 0;
    font-size: 18px;
}

/*bolded text in quiz rules box*/
.quiz_rules_box .quiz_rules_list .quizrules span{
    font-weight: 600;
    color:rgb(102, 16, 102);
}

/* style for Leave Quiz and Continue Quiz Buttons */
.quiz_rules_box .buttons{
    height:68px;
    display: flex;
    align-items: center; 
    justify-content:flex-end;
    padding: 0 40px;
    border-top: 5px solid rgb(176, 125, 200);
}

/* style for Leave Quiz and Continue Quiz Buttons Button */
.quiz_rules_box  .buttons button{
    font-size:16px;
    font-weight:500;
    margin: 0 10px;
    height: 40px;
    width: 450px;
    color: rgb(194, 162, 194);
    background: rgb(154, 86, 154);
    border:1px solid rgb(172, 91, 172);
    border-radius: 5px;
    cursor:pointer;
    /*transition: all 0.10s ease;*/
}

/* Font Color, Border Color, and Background for Restart Button */
.buttons button.restart{
    color:rgb(145, 77, 145);
    background-color:rgb(111, 73, 111);
}

/* Restart Buttons Button Hover*/
.buttons button.restart:hover{
    background-color:rgb(144, 113, 144);
}

/* Font Color, Border Color, and Background for Leave Button */
.buttons button.leave{
    color: rgb(176, 72, 176); 
    background-color:rgb(56, 18, 56);
}

/* Leave Buttons Button Hover*/
.buttons button.leave:hover{
    background-color: rgb(210, 110, 210); 
}